.gameboard {
    width : 700px;
    height: auto;
/*    border:3px solid blue;
*/  }
    
.wrapper {
    width:630px;
    margin:0 auto;
  }

.BUTTON {

    /* background-color:red;
     width: 160px;
     max-height: 8px;*/ 
     
     text-align: center;
     line-height: 100px  

 }

 .gameboard div {
     width: 96.6px;
     height: 96.6px;
     float: left;
     font-size:50px;
     text-align: center;
 }
 .box {
  background: steelblue;

 }
 /*.box,.box,.box {
     width:100px;
     height:100px;
     border:3px solid black;
     float: left;
 }
 .box,.box,.box {
     width:100px;
     height:100px;
     border:3px solid black;
     float: left;
 }
 .box,.box,.box {
     width:100px;
     height:100px;
     border:3px solid black;
     float: left;
 }*/

 .timer{
  /*width: 1020px;*/
  /*margin:auto;*/
  /*font-weight:bold;*/
  align: center;
  line-height: 10px
  
 }


.back {
  background-image: url(coffeeimg/BlackSheepfront.png);
  background-size: cover;
  margin: 10px;
  border-radius: 50%;

}

.front {
  background-size: cover;
  margin: 10px;

}

.front[value="1"]{
  background-image: url(coffeeimg/takeaway.png);
}
.front[value="2"]{
  background-image: url(coffeeimg/blenderstick.png);
}
.front[value="3"]{
  background-image: url(coffeeimg/coffeeBeans.png);
}
.front[value="4"]{
  background-image: url(coffeeimg/coffeecup.png);
}
.front[value="5"]{
  background-image: url(coffeeimg/coffeehouse.png);
}
.front[value="6"]{
  background-image: url(coffeeimg/coffeemaker.png);
}
.front[value="7"]{
  background-image: url(coffeeimg/coffeeSmoke.png);
}
.front[value="8"]{
  background-image: url(coffeeimg/Frappe.png);
}
.front[value="9"]{
  background-image: url(coffeeimg/hotchocolate.png);
}
.front[value="10"]{
  background-image: url(coffeeimg/Milk.png);
}
.front[value="11"]{
  background-image: url(coffeeimg/Sugar.png);
}
.front[value="12"]{
  background-image: url(coffeeimg/water.png);
}

#myProgress {
    position: relative;
    width: 100%;
    height: 30px;
    background-color: grey;
}
#myBar {
    position: absolute;
    width: 0%;
    height: 100%;
    background-color: #6F4E37;
}


#bottom-bar {
  clear: both;

}

body {
  background-image: url('http://wallpapercave.com/wp/60P9094.jpg');
 /* background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-position: top;*/
}
h1{
  text-align: center;
  color:white;
  

}























